######################################################################

ChallengeResponseAuthentication	no

AllowAgentForwarding	no
AllowTcpForwarding	no
AllowUsers		freebsd
AuthorizedKeysFile	.ssh/authorized_keys .ssh/authorized_keys_digitalocean
Banner			/etc/ssh/banner
Ciphers			aes128-ctr,aes192-ctr,aes256-ctr
HostKeyAlgorithms	ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-ed25519,ssh-rsa
KexAlgorithms		ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256
LoginGraceTime		10
LogLevel		DEBUG
MACs			hmac-sha2-256,hmac-sha2-512
MaxAuthTries		1
PermitRootLogin		no
Protocol		2
UseDNS			no
UsePAM			no
VersionAddendum		REFUSED
X11Forwarding		no
